@font-face {
    font-family: 'LoraBold'; /* Гарнитура шрифта */
    src: url(../fonts/Lora-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'LoraBoldItalic';    
    src: url(../fonts/Lora-BoldItalic.ttf); 
}
@font-face {
    font-family: 'LoraItalic';    
    src: url(../fonts/Lora-Italic.ttf); 
}
@font-face {
    font-family: 'LoraRegular';    
    src: url(../fonts/Lora-Regular.ttf); 
}
@font-face {
    font-family: 'OpenSansBold';    
    src: url(../fonts/OpenSans-Bold.ttf); 
}
@font-face {
    font-family: 'OpenSansBoldItalic';    
    src: url(../fonts/OpenSans-BoldItalic.ttf); 
}
@font-face {
    font-family: 'OpenSansExtraBold';    
    src: url(../fonts/OpenSans-ExtraBold.ttf); 
}
@font-face {
    font-family: 'OpenSansExtraBoldItalic';    
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf); 
}
@font-face {
    font-family: 'OpenSansItalic';    
    src: url(../fonts/OpenSans-Italic.ttf); 
}
@font-face {
    font-family: 'OpenSansLight';    
    src: url(../fonts/OpenSans-Light.ttf); 
}
@font-face {
    font-family: 'OpenSansLightItalic';    
    src: url(../fonts/OpenSans-LightItalic.ttf); 
}
@font-face {
    font-family: 'OpenSansRegular';    
    src: url(../fonts/OpenSans-Regular.ttf); 
}
@font-face {
    font-family: 'OpenSansSemiBold';    
    src: url(../fonts/OpenSans-SemiBold.ttf); 
}
@font-face {
    font-family: 'OpenSansSemiBoldItalic';    
    src: url(../fonts/OpenSans-SemiBoldItalic.ttf); 
}
*{
    padding: 0;
    margin: 0;
    font-family: 'LoraRegular';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'LoraRegular';
    font-size: 18pt;
    overflow-x: hidden;
}
h2{
    font-family: 'LoraBold';
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
.upper{
    text-transform: uppercase;
}
.wid100{
    width: 100%;
}
.ramka{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    border-width: 18px;
    border-style: solid;
    border-color: #ffffff;
    -o-border-image: url("../img/png/desk2/h2border.png") 36;
    -webkit-border-image: url("../img/png/desk2/h2border.png") 36;
    border-image: url("../img/png/desk2/h2border.png") 36;
    padding: 0;
}
.ramka > h2{
    color: #fff;
    background-color: #343334;
    font-size: 32px;
    padding: 0 15px;
    margin: 0;
    line-height: 0.9;
}
.container-fluid#con1{
    padding-top: 50px;
    background: url(../img/png/desk2/fon2.png) no-repeat bottom center;
    padding-bottom: 270px;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}
#con1 a{
    color: #fff;
}
.container#desk1{
    /*background: url(../img/png/desk1/fon1.png) no-repeat top center; */
    background: url(../img/png/desk1/img103.jpg) no-repeat top center;
    /*-webkit-background-size: contain;
    background-size: contain;*/
    -webkit-background-size: 100% 100%;
    background-size: 100%;  
    position: relative;
    width: 1140px;  
    height: 718px;    
}
.desk1_border{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    border-width: 18px;
    border-style: solid;
    border-color: #ffffff;
    -o-border-image: url("../img/png/desk1/whiteborder.png") 36;
    -webkit-border-image: url("../img/png/desk1/whiteborder.png") 36;
    border-image: url("../img/png/desk1/whiteborder.png") 36;
}
#desk1 div{
    z-index: 1;
}
.desk1_top{
    position: relative;
}
.desk1_top .logo{
    padding: 30px 10px 20px 79px;
}
.desk1_top .logo img{
    width: 94px;  
    height: 82px; 
}
.desk1_top .logo>div:first-child{
    width: 94px;
}
.logozag{
    font-family: 'LoraBold';
    font-size: 14pt;
    color: #fff;
    padding: 29px 6px;
    letter-spacing: -0.3px;
}
.toptel{
    padding: 25px 0;
    text-align: right;
    font-size: 17pt;
}
.desk1_top__feed{
    margin-top: -10px;
}
.desk1_top__feed a{
    padding: 0;
    text-align: right;
    font-size: 10.5pt;
    font-family: 'OpenSansRegular';
}
.hamb{
    padding-top: 25px;
    text-align: center;
}
.container#desk1 .row:nth-child(3){
    padding-top: 145px;
}
.container#desk1 .row:last-child{
    text-align: center;
}
.container#desk1 h2{
    font-family: 'LoraBold';
    font-size: 33px;
    color: #fff;
    line-height: 50px;
    margin-left: -10px;
    text-transform: none;
    text-align: left;
}
.container#desk1 ul{
    padding-left: 0;
    padding-top: 57px;
    margin-left: 24px;
    text-align: left;
}
.container#desk1 ul li{
    list-style-image: url(../img/png/desk1/yes.png);
    color: #fff;
    font-family: 'OpenSansRegular';
    font-size: 20px;
    letter-spacing: 0.1px;
    padding-left: 0;
}
.desk1_arrow{
    padding-top: 60px;
}
#desk1 div #menu{
    background-color: #303030;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 2;
    padding-right: 0;
    padding-left: 0;
}
#desk1 div #menu>.row{
    margin-right: 0;
    margin-left: 0;
}
.logomenu {
    width: 100%;
    max-width: 100%;
    padding: 8px 15px;
}
.zagmenu{
    text-transform: uppercase;
    font-family: 'LoraBold';
    font-size: 30px;
    padding-top: 8px;
    letter-spacing: 0.8px;
    padding-left: 5px;  
}
.hambmenu a{
    padding-top: 9px;
    display: block;
    padding-left: 5px;
}
#menu>.row>.row{
    margin-right: 0;
    margin-left: 0;
}
.container#desk1 #menu>.row>.row>.col-xs-12{
    padding: 0;
}
.container#desk1 #menu ul{
    padding-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
}
.container#desk1 #menu ul li{
    list-style-type: none;
    list-style-image: none;
}
.container#desk1 #menu ul li a{
    display: block;
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #fff;
    padding: 10px 47px 7px;
}
.container#desk1 #menu ul li:last-child a{
    padding-bottom: 15px;
}
.container#desk1 #menu ul li a:hover{
    background-color: #1a191a;
    text-decoration: none;
}
#desk2 h2{
    font-family: 'LoraBold';
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 73px;
}
.capture{
    text-align: center;
}
.cap1 .capture{
    padding-left: 23px;
}
.cap2{
    padding: 0;
}
.cap2 .capture{
    padding-left: 0;
}
.cap3 .capture{
    padding-left: 0;
    text-align: left;
}
.capture img{
    padding-top: 30px;
}
.capture>.capItem{
    font-family: 'OpenSansLight';
    font-size: 16px;
    padding-top: 16px;
}
.cap3 .capture>.capItem{
    padding-top: 21px;
    padding-left: 16px;
}
.cap3 .capture img{
    padding-left: 66px;
    padding-top: 34px;
}
#desk2 .ramka{
    position: relative;
    z-index: 2;
    margin: 61px auto 0;
    border-width: 18px;
    border-style: solid;
    border-color: #ffffff;
    -o-border-image: url("../img/png/desk2/h2border.png") 36;
    -webkit-border-image: url("../img/png/desk2/h2border.png") 36;
    border-image: url("../img/png/desk2/h2border.png") 36;
    padding: 0;
}
#desk2 .ramka > h2{
    color: #fff;
    background-color: #343334;
    font-size: 32px;
    padding: 0 15px;
    margin: 0;
    line-height: 0.9;
}
#desk3top1{
    position: relative;
    top: -238px;
    width: 100%;
}
.container-fluid.lineleft{
    padding-left: 0;
}
#desk3line{
    position: relative;
    top: -250px;
    overflow: hidden;
}
#desk3line img{
    text-align: left;
}
#desk4{
    position: relative;
    top: -250px;
    background: url(../img/png/desk11/fon11.png) no-repeat bottom center;
}
#desk4top1>div>div{
    margin-top: -15px;
}
#desk4top1>div>div>img{
    margin: 0 auto;
}
.cav>div, .cav2>div{
    font-family: 'OpenSansSemiBoldItalic' !important;
    color: #005390;
    font-size: 31px;
}
#desk4 .cav>div{
    margin-top: -7px;
    padding-left: 5px;
}
#desk4 .cav img{
    position: absolute;
    top: -45px;
    left: 143px;
}
#desk4 .cav2 img{
    position: absolute;
    top: -45px;
    left: 339px;
}
#desk4 .container .row:nth-child(3){
    text-align: center;
}
.barforus{
    font-family: 'OpenSansRegular';
    font-size: 28px;
    color: #1d1d1b;
    padding-top: 59px;
}
#desk4 .ramka{
    position: relative;
    z-index: 2;
    margin: 75px auto 0;
    border-width: 18px;
    border-style: solid;
    border-color: #ffffff;
    -o-border-image: url("../img/png/desk2/h2border.png") 36;
    -webkit-border-image: url("../img/png/desk2/h2border.png") 36;
    border-image: url("../img/png/desk2/h2border.png") 36;
    padding: 0;
}
#desk4 .ramka > h2{
    color: #fff;
    background-color: #343334;
    font-size: 32px;
    padding: 0 15px;
    margin: 0;
    line-height: 0.9;
}
#desk4 p{
    text-align: center;
    font-family: 'OpenSansRegular';
    font-size: 14px;
    padding-top: 17px;
}
#podhodtbl{
    background: url(../img/png/desk4/ramka-without-fon.png) no-repeat top center;
    width: 722px;
    margin: 28px auto;
    height: 224px;
}
#podhod table{
    margin: 0 auto;
    width: 85%;
    text-align: center;
}
.zagtable{
    font-family: 'OpenSansRegular';
    font-size: 28px;
    line-height: 1;
    padding-top: 39px;
    text-align: center;
}
tr.podhod_points>td{
    padding-top: 26px;     
}
tr.podhod_points span{
    font-family: 'OpenSansLight';
    font-size: 22px;   
}
.podhod_points span:nth-child(1){
    color: #bf0830;
}
.podhod_points span:nth-child(2){
    line-height: 1;
}
h3{
    font-family: 'OpenSansRegular';
    font-size: 28px;
}
#podhod h3{
    margin-top: -40px;
    line-height: 1.36;
    text-align: center;
}
.row#cen{
    padding-top: 26px;
}
.row#cen .cen_item{
    text-align: center;
}
.cen_item img{
    margin: 0 auto;
}
.row#cen .cen_item:nth-child(1){
    padding-top: 4px;
}
.row#cen .cen_item>div{
    font-family: 'OpenSansLight';
    font-size: 22px;
    padding-top: 20px;
}
.row#cen .cen_item#cen_item_one>div{
    padding-top: 25px;
}

.bluebut a, button.bluebut{
    position: relative;
    display: block;
    margin-top: 59px;
    padding-top: 21px;
    text-align: center;
    height: 90px;
    color: #ffffff;
    font-family: 'OpenSansSemiBold';
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #005390;
    border: 3px solid #005390;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.bluebut a::before,  button.bluebut::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: -webkit-calc(100%);
    height: calc(100%);
    width: -webkit-calc(100%);
    width: calc(100%);
    border: 2px solid #ffffff;
}
.bluebut a:hover{
    background-color: #ffffff;
    border: 3px solid #ffffff;
    color:#005390;
}
.bluebut a:hover::before {
    border: 3px solid #005390;
}

#interest{
    padding: 62px 0px 130px;
    line-height: 1.2;
}
#desk5{
    position: relative;
    top: -287px;
}
.desk5_dostup h2{
    font-size: 30px;
    margin-top: 75px;
}
.flexcon{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#desk5 .flexcon .flexitem{
    width:20%;
    text-align:center;   
    padding-top: 26px; 
}
#desk5 .flexcon .flexitem p{
    font-family: 'OpenSansRegular';
    font-size: 14px;
    padding-top: 21px;
}
#desk5 .flexcon .flexitem:nth-child(2) p{
    padding-top: 20px;
}
#desk5 .flexcon .flexitem:nth-child(3) p{
    padding-top: 22px;
}
#desk5line{
    position: relative;
    top: -260px;
    text-align: right;
    padding-right: 0;
    overflow: hidden;
}
#minipodh{
    display: none;
}
#desk6{
    position: relative;
    top: -270px;
}
#desk6 .desk5_dostup{
    text-align: center;
}
.everydetail{
    font-family: 'OpenSansRegular';
    font-size: 18px;
    line-height: 11px;
}

#desk7 .row{
    position: relative;
    top: -376px;
    /*top: 0;*/
    height: 636px;
}

.split-slideshow{
    position: relative;
}



/***********  SLIDER  *********/

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  /*height: 100vh;*/
  overflow: hidden;
}
.slideshow .slider {
  width: 100vw;
  /*height: 100vw;*/
  z-index: 2;
}
.slideshow .slider * {
  outline: none;
}
.slideshow .slider .item {
  /*height: 100vh;*/
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
}
.slideshow .slider .item .text {
  display: none;
}
.slideshow .slider .item img {
  min-width: 101%;
  min-height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slideshow .slick-dots {
  position: fixed;
  z-index: 100;
  width: 60px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: -webkit-calc(50% - 60px);
  right: calc(50% - 60px); /*0*/
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
}
.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
  opacity: 0;
}
.slideshow .slick-dots li button:before {
  content: '';
  background: #fff;
  color: #fff;
  height: 2px;
  width: 20px;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}
.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;
}
@media (max-width: 767px) {
  .slideshow-text {
    font-size: 40px;
  }
}

/*
.slideshow{
    height: 636px;
}
*/
.slideshow .slick-dots{
    display: none;
}


/********** SLIDER END ************/



#desk8{
    position: relative;
    top: -220px;
}
#desk8line{
    position: relative;
    top: -170px;
    overflow: hidden;
}
/*
#desk9{
    position: relative;
    top: 415px;
}
#desk11{
    position: relative;
    top: 415px;
}
#desk12{
    position: relative;
    top: 415px;
}
#desk13{
    position: relative;
    top: 415px;
}
*/
#desk9{
    position: relative;
    top: -206px;
}
.ocenka{
    text-align: center;
    border: 1px solid #c01e39;
    font-family: 'OpenSansRegular';
    font-size: 23px;
    margin: 0 auto;
    padding: 12px;
    width: 684px;
}
#desk10{
    margin-top: -67px;
    height: 351px;
    background-color: #2b2a29;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}
#carousel3d{
    top: -150px;
    position: relative;
}
.carousel-3d-container{
    top: -18px;
}
#carouselFour{
    position: relative;
    top: 147px;
}
#desk7 .owl-theme .owl-dots .owl-dot{
    display: block;
    position: absolute;
    top: 50%;
    left: -webkit-calc(50% - 30px);
    left: calc(50% - 30px);
}
#desk7 .owl-theme .owl-dots .owl-dot span {
    width: 60px;
    height: 6px;
    background: #fff;
}
#desk7 .owl-theme .owl-dots:active .owl-dot span {
    width: 80px;
}
#desk10line{
    position: relative;
    top: 146px;
    text-align: right;
    padding-right: 0;
    overflow: hidden;
}
#desk101{
    position: relative;
    top: 211px;
}

#desk101 .owl-theme .owl-dots .owl-dot{
    display: block;
    position: absolute;
    top: 50%;
    left: -webkit-calc(50% - 30px);
    left: calc(50% - 30px);
}
#desk101 .owl-theme .owl-dots .owl-dot span {
    width: 60px;
    height: 6px;
    background: #fff;
}
#desk101 .owl-theme .owl-dots:active .owl-dot span {
    width: 80px;
}
#desk11{
    position: relative;
    top: 220px;
    background: url(../img/png/desk11/fon11.png) no-repeat bottom 120px center;
}
#desk11 .container:nth-child(2){
    padding-top: 12px;
}
#desk11 .capture img{
    margin: 0 auto;
}
#desk11 .capItem{
    font-family: 'OpenSansRegular';
    font-size: 22px;
    text-align: center;
}
.socialwevbs{
    padding-top: 124px;
}
.contrekl{
    margin-top: -18px;
}
.contrekl img{
    padding-top: 13px;
}
#desk12{
    background: url(../img/png/desk8/fon8.png) no-repeat top center;
    margin-top: 97px;
    padding-bottom: 30px;
}
#desk12 #podborpers h2{
    padding-top: 177px;
    text-align: right;
}
#desk12min{
    background: url(../img/png/desk8/fon8.png) no-repeat top center;
}
.classimg{
    position: relative;
}
.whitefon{
    background-color: #fff; 
}
.taleft{
    text-align: left;
}
.taright{
    text-align: right;
}
.tacenter{
    text-align: center;
}
.row1{
    padding-bottom: 100px;
}
.row1 img{
    position: absolute;
    width: 200px;
    top: 130px;
    z-index: 1;
}
.row2{
    padding-bottom: 76px;
}
.row2 img{
    position: absolute;
    width: 504px;
    top: -45px;
    z-index: 1;
    left: -40px;
}
.row2 #h2two{
    padding-left: 75px;
}
.row2 .col-xs-10{
    height: 240px;
}
.row2 .classimg{
    padding-bottom: 72px;
}
.row3{
    margin-top: -50px;
    padding-bottom: 100px;
}
.row3 img{
    position: absolute;
    width: 363px;
    z-index: 1;
}
.row4{
    position: relative;
    top: -35px;
}
.row4 img{
    margin-top: -30px;
}
.row4 #h2three{
    padding-left: 50px;
}
.row4 h2{
    margin-top: -8px;
}
.row5 img, .row6 img, .row7 img, .row8 img{
    height: 120px;
    max-width: 100%;
    margin: 0 auto;
}
.row5 h2, .row6 h2, .row7 h2, .row8 h2{
    font-size: 24px;
    margin-top: 15px;
    padding-bottom: 20px;
}
#desk12min{
    margin-top: 200px;
    padding-top: 40px;
}
#desk13 {
    padding-top: 61px;
}
#desk13 .capture{
    padding-top: 53px;
}
#desk13 .capture .capItem{
    font-family: 'OpenSansLight';
    font-size: 20px;
    padding-top: 28px;
    line-height: 1.2;
}
#desk13 .oneCapture .capItem{
    padding-top: 31px;
}
#desk13line{
    position: relative;
    top: 72px;
    text-align: right;
    padding-right: 0;
    overflow: hidden;
}
#desk14{
    margin-top: 120px;
}
#desk14 h2{
    text-transform: none;
    text-align: left;
    font-size: 33px;
    line-height: 1.5;
    margin-top: 4px;
}
#desk14 h2 span{
    font-family: 'LoraBold';
    text-transform: uppercase;
}
#desk14 .bluebut a{
    text-decoration: none;
    font-size: 24px;
}
#desk14line{
    position: relative;
    top: -36px;
    overflow: hidden;
}
#desk15{
    padding-top: 12px;
}
#desk15 .cav>div{
    line-height: 1.2;
}
#desk15>.container>.row:first-child{
    padding-bottom: 56px;
}
#desk15 table{
    width: 100%;
    margin-top: 35px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#desk15 table thead{
    background-color: #575756;
    color: #fff;
}
#desk15 table td{
    border: 1px dotted #c9c9c9;
    padding: 15px 56px;
}
#desk15 table td, #desk15 table th{
    font-family: 'OpenSansRegular';
    font-size: 16px;
    
}
#desk15 table tr td:first-child, #desk15 table tr th:first-child{
    width: 50%;
}
#desk15 table th{
    padding: 18px 56px;
}
#desk15 table tr:last-child td{
    font-size: 19px;
    color: #be0830;
}
#desk15 .minitable{
    text-align: center;
}
.minitable tr:first-child td{
    color: #be0830;
    font-weight: bold;
    font-size: 19px !important;
}
.zag_minitable{
    background-color: #575756;
    color: #fff;
}
.seeyuo p{
    font-family: 'OpenSansRegular';
    font-size: 28px;
    text-align: center;
}
.seeyuo img{
    margin: 35px auto;
}
.seeyuo{
    padding-top: 69px;
}
.zakl_dog .bluebut a{
    font-size: 24px;
    margin-top: 33px;
    height: 56px;
    padding-top: 6px;
}
#desk160{
    background: url(../img/png/desk10/fon10.png) no-repeat bottom center;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 76px;
}
#desk16{
    padding-right: 0;
    padding-left: 0;
}
#desk16line{
    text-align: right;
    padding-top: 44px;
    overflow: hidden;
}
#desk17{
    padding-left: 0;
    padding-bottom: 38px;
    background: url(../img/png/desk11/fon11.png) no-repeat bottom center;
}
#desk17 .ramka h2{
    font-size: 24px;
    line-height: 1.1;
}
#desk17 .row:first-child {
    top: -44px;
    position: relative;
}
#desk17 .row:nth-child(2) {
    padding-top: 28px;
    position: relative;
}
#desk17 .row:nth-child(3) p{
    font-family: 'OpenSansRegular';
    font-size: 17px;
}
#desk17 .row:nth-child(3) table{
    width: 100%;
}
#desk17 .row:nth-child(3) table tr td:first-child{
    width: 20%;
    height: 110px;
    vertical-align: middle;
    text-align: left;
}
#desk17 .row:nth-child(3) table tr td:last-child{
    width: 80%;
    padding-left: 20px;
}
#desk17 .row:nth-child(3) table tr td{
    vertical-align: middle;
}
#desk17line{
    padding-top: 39px;
    overflow: hidden;
}
#whatelse {
    padding-top: 73px;
    padding-left: 31px;
}
#desk18{
    position: relative;
    top: -30px;
    background: url(../img/png/desk11/fon11.png) no-repeat bottom center;
    padding-bottom: 152px;
}
#desk18 .ramka h2{
    font-size: 23px;
}
#desk18 #wehelp{
    text-align: center;
    padding-top: 81px;
}
#desk18 #wehelp span{
    font-family: 'OpenSansRegular';
    font-size: 28px;
}
.desk18_text{
    background: url(../img/png/desk12/ramka-without-fon12.png) no-repeat top center;
    background-size: auto auto;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    position: relative;
    top: 122px;
    height: 260px;
}
.desk18_text p{
    font-family: 'OpenSansRegular';
    font-size: 25px;
    padding: 36px;
}
#desk18_fotoblock{
    top: 69px;
    position: relative;
}
#notalone{
    position: absolute;
    background: url(../img/png/desk12/footnote.png) no-repeat top 20px left 20px;
    width: 93%;
    height: 100px;
    color: #fff;
    padding: 26px 100px;
    font-family: 'OpenSansItalic';
    font-size: 28px;
}
#desk18 #wehelp2{
    padding-top: 142px;
    text-align: center;
}
#desk18 #wehelp2 span{
    font-family: 'OpenSansSemiBold';
    font-size: 28px;
}
#desk19{
    position: relative;
    top: -64px;
}
#desk19 .row:nth-child(2){
    padding-top: 100px;
}
#desk19 .row:nth-child(2) p{
    font-family: 'OpenSansItalic';
    font-size: 20px;
    line-height: 31px;
    padding-top: 22px;
}
#desk19 .row:nth-child(2)>.col-xs-12{
    position: relative;
    padding: 12px 34px;
}
.cavbot{
    position: absolute;
    top: 10px;
    right: 10px;
}
.fotoInText{
    max-width: 100%;
}
#foto_yaroslav{
    margin-top: -41px;
}
#desk19 .row:nth-child(2) p.underfoto{
    font-family: 'OpenSansRegular';
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
#desk20{
    position: relative;
    top: 30px;
    background: url(../img/png/desk14/fon14.png) no-repeat top center;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    height: 934px;
    padding-right: 0;
}
#desk20 .ramka{
    position: relative;
    top: -35px;
    width: 100%;
    -webkit-border-image: url("../img/png/desk2/h3border.png") 36;
    -o-border-image: url("../img/png/desk2/h3border.png") 36;
    border-image: url("../img/png/desk2/h3border.png") 36;
}
#desk20 p{
    text-align: center;
    color: #000;
    font-family: 'OpenSansRegular';
    font-size: 20px;
    padding-top: 21px;
    line-height: 1.35;
    width: 89%;
    margin: 0 auto;    
}
.feedback{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-width: 18px;
    border-style: solid;
    border-color: #ffffff;
    -o-border-image: url("../img/png/desk14/caption-border.png") 36;
    -webkit-border-image: url("../img/png/desk14/caption-border.png") 36;
    border-image: url("../img/png/desk14/caption-border.png") 36;
    top: 200px;
}
.feedinside{
    background-color: #fff;
    text-align: center;
}
.feedinside form{
    padding-top: 29px;
}
.feedinside input{
    width: 86%;
    margin-top: 13px;
    padding: 5px 28px;
    font-family: 'OpenSansLight';
    font-size: 16px;
}
button.bluebut{
    width: 86%;
    height: 63px;
    font-size: 24px;
    padding: 10px;
    margin: 27px auto 0;
}
#desk20 form{
    padding-bottom: 24px;
}
.modal-content{
    width: 75%;
    border-width: 18px;
    border-style: solid;
    border-color: #ffffff;
    -o-border-image: url("../img/png/desk14/caption-border.png") 36;
    -webkit-border-image: url("../img/png/desk14/caption-border.png") 36;
    border-image: url("../img/png/desk14/caption-border.png") 36;
    margin: 0 auto;
}
.modal-header{
    border: none;
}
.modal-header p{
    font-family: 'OpenSansRegular';
    font-size: 24px;
}
.modal-content .feedinside form{
    padding-top: 0;
}
.modal-body{
    padding-top: 0;
}
.modal-body.feedinside input{
    width: 90%;
    margin: 13px auto;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.modal-body.feedinside .bluebut{
    width: 90%;
}
.close{
    position: absolute;
    right: -10%;
    padding: 0;
    width: 56px;
    height: 56px;
    background-color: #fff !important;
    font-size: 32px;
    top: -40px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    color: #898989;
    opacity: 1;
}
.modal-dialog{
    margin: 65px auto;
}
#desk20line{
    position: relative;
    top: 312px;
    text-align: right;
    padding-right: 0;
    overflow: hidden;
}
.thankswrapper{
    margin: 0;
    padding: 5%;
    width: 100vw; 
    height: 100vh;
    color: #fff;
}
.thankswrapperBody{
    width: 100%;
    height: 100%;
    border-width: 18px;
    border-style: solid;
    border-color: #ffffff;
    -o-border-image: url("../img/png/thanks/whiteborder2.png") 36;
    -webkit-border-image: url("../img/png/thanks/whiteborder2.png") 36;
    border-image: url("../img/png/thanks/whiteborder2.png") 36;
}
.thankswrapper h2, .thanksname{    
    font-family: 'LoraBold';
    font-size: 40px;
}
.thankswrapper h2{
    text-transform: initial;
}
.thanksname{
    text-transform: capitalize;
}
.thankswrapperBody .bluebut a{
    position: relative;
    display: block;
    margin-top: 10px;
    padding-top: 21px;
    text-align: center;
    height: 90px;
    color: #000;
    font-family: 'OpenSansSemiBold';
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    border: 3px solid #fff;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thankswrapperBody .bluebut a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: -webkit-calc(100%);
    height: calc(100%);
    width: -webkit-calc(100%);
    width: calc(100%);
    border: 2px solid #000;
}
.thankswrapperBody .bluebut a:hover{
    background-color: #000;
    border: 2px solid #000;
    color:#fff;
}
.thankswrapperBody .bluebut a:hover::before {
    border: 2px solid #fff;
}
.thankswrapperBody .descript p{
    font-family: 'OpenSansRegular';
    font-size: 22px;
    text-align: center;
}
.thankswrapperBody .help{
    font-family: 'OpenSansRegular';
    font-size: 20px;
    text-align: center;
    position: relative;
}
.thankswrapperBody .container-fluid, .thankswrapperBody .container{
    height: 100%;
}
.thankswrapperBody .row:first-child{
    height: 50%;
}
.thankswrapperBody .row:first-child .col-xs-12{
    height: 50%;
}
.thankswrapperBody h2, .thankswrapperBody .descript, .thankswrapperBody .bluebut, .thankswrapperBody .help{
    padding-top: 5vh;
}








@media screen and (max-width: 1440px){
    /*.slideshow{
        height: 460px;
    }
    */
    #desk8 {
        top: -370px;
    }
}



@media screen and (max-width: 1366px){
    #desk7 .row{
        top: -300px;
    }    
}


@media screen and (max-width: 1200px){
    .container-fluid#con1{
        padding-top: 15px;
    }
    .container#desk1{
        width: 98%;
        height: 100%; 
        background: url(../img/png/desk1/fon1.png) no-repeat top center;
        -webkit-background-size: contain;
        background-size: contain;
    }
    .desk1_border{
        display: none;
    }
    .logozag{
        padding-left: 20px;
    }
    .container#desk1 h2{
        font-size: 30px;
    }
    #desk4{
        top: -220px;
    }
    #desk3line {
        top: -230px;
    }     
    .bluebut a{
        font-size: 22px;
        padding-top: 23px;
    }
    #desk5 {
        top: -255px;
    }
    #desk5line{
        top: -240px;
    }
    #desk6 {
        top: -300px;
    }
    .desk18_text{
        background-image: none;
        border-width: 18px;
        border-style: solid;
        border-color: #ffffff;
        -o-border-image: url("../img/png/desk4/ramka-no-fon.png") 36;
        -webkit-border-image: url("../img/png/desk4/ramka-no-fon.png") 36;
        border-image: url("../img/png/desk4/ramka-no-fon.png") 36;
        position: relative;
        top: 60px;
        height: initial;
    }
}





@media screen and (max-width: 1024px){
    .logozag{
        padding-left: 30px;
    }
    .desk1_top .logo{
        padding-left: 30px 20px 20px 30px;
    }
    .desk1_top .logo img{
        width: 100%;
        height: initial;
    }
    .container#desk1 h2{
        font-size: 26px;
        line-height: 1.42;
    }
    #desk2 .ramka > h2{
        font-size: 22px;
    }
    .container#desk1 ul{
        padding-top: 27px;
    }
    #desk2 h2{
        margin-top: 0;
    }
    #desk7 .row{
        top: -400px;
    }  
}



@media screen and (max-width: 992px){
    .bluebut a{
        padding-top: 9px;
    }   
    .ramka > h2{
        font-size: 26px;
    } 
    #desk8 .bluebut a{
        padding-top: 23px;
    }
    .thankswrapperBody .bluebut a{
        padding-top: 4px;
    }
}


@media screen and (max-width: 960px){
    .container#desk1 h2 {
        font-size: 24px
    }
    .container#desk1 .row:nth-child(3) {
        padding-top: 72px
    }
    .container#desk1 ul li{
        font-size: 16px;
    }
    .container#desk1 ul {
        padding-top: 10px
    }
    .hide960-750{
        display: none;
    }
}




@media screen and (max-width: 910px){
    .logozag{
        padding-left: 45px;
    }
    .desk1_top .logo {
        padding: 30px 10px 20px 50px
    }
    .container#desk1 .row:nth-child(3) {
        padding-top: 110px;
    }
}





@media screen and (max-width: 820px){
    .container#desk1 .row:nth-child(3) {
        padding-top: 85px;
    }
    #podhod .col-xs-12:first-child{
        padding-left: 0;
        padding-right: 0;
    }
    #desk11{
        position: relative;
        top: 180px;
    }
}



@media screen and (max-width: 768px){
    .container#desk1 .row:nth-child(3) {
        padding-top: 80px;
    }
    .container#desk1 h2 {
        font-size: 23px
    }
    #desk1 div {
        z-index: initial
    }
    .container#desk1 h2{
        margin-left: 0;
    }
    .flexcon{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    } 
    #desk5 .flexcon .flexitem{
        width: 50%;
    }
    /*
    .slideshow {
        height: 440px
    }
    */
    /*
    #desk7{
        height: 440px;
    }
    */
    #desk8 .bluebut a{
        margin-top: 0;
    }
    .row2 img {
        width: 405px;
        top: 20px;
    }
    .row3 h2{
        padding-right: 69px;
    }
    .row3 img{
        width: 334px;
        left: -62px;
    }
    #desk13line{
        top: 25px;
    }

}








@media screen and (max-width: 750px){
    .container-fluid#con1 {
        padding: 0;
        padding-bottom: 250px;
    }    
    .container#desk1{
        width: 100%;
        background: url(../img/png/desk1/img103.jpg ) no-repeat top center;
        /*height: 620px; */
    }
    .desk1_top .logo {
        padding: 30px 10px 20px;
    }
    .logozag{
        padding-left: 30px;
    }
    .hamb {
        text-align: right;
    }    
    .hide960-750{
        display: initial;
    }
    #desk2 h2{
        margin-top: 60px;
    }
    #desk8 {
        top: -260px
    }
    .ocenka{
        width: 90%;
        margin-top: 30px;
    }

}



@media screen and (max-width: 640px){
    .cap3 .capture{
        text-align: center;
    }
    .cap3 .capture img {
        padding-left: 0;
    } 
    li#mobfeed a{
        border: 1px solid #fff;
        background-color: #005390;
    }  
    .cen_item img{
        margin: 30px auto -20px;
    }
    #podhodtbl{
        width: 540px;
        background: url(../img/png/desk4/ramka-without-fon540.png) no-repeat top center;
    }
    #desk15 table td{
        padding: 15px;
    }
    .modal-content{
        width: 80%;
    }
    .thankswrapperBody h2, .thankswrapperBody .descript, .thankswrapperBody .bluebut, .thankswrapperBody .help{
        padding-top: 4vh;
    }
    .thankswrapperBody .bluebut{
        margin-top: 2vh;
    }
}


@media screen and (max-width: 480px){
    .desk1_top .logo {
        padding: 30px 10px 20px;
    }
    .logozag{
        padding-left: 40px;
        font-size: 13pt;
    }
    .logomenu{
        padding: 8px 2px;
    }
    .container#desk1 .row:nth-child(3) {
        padding-top: 110px
    }
    #desk3line .row{
        padding-top: 100px;
    }
    #desk4 {
        top: -190px
    }
    #desk4 .ramka > h2{
        font-size: 24px;
        line-height: 1.1;
    }
    .desk5_dostup h2 {
        font-size: 26px
    }
    .ramka > h2{
        font-size: 24px;
        line-height: 1.1;
    }
    #podhodtbl{
        width: 340px;
        background: url(../img/png/desk4/ramka-without-fon280-340.png) no-repeat top center;
        height: 340px;
    }
    #podhod h3{
        margin-top: 20px;
    }
    .bluebut a {
        padding-top: 23px;
    }
    #desk5 {
        top: -235px;
    }
    #maxipodhod{
        display: none;
    }
    #minipodh{
        display: block;
    }
    h3{
        font-size: 24px;
    }
    #desk5 {
        top: -160px;
    }
    #desk5line {
        top: -150px
    }
    #desk6 {
        top: -190px
    }
    #desk8 {
        top: -160px
    }
    #desk101{
        padding-left: 0;
        padding-right: 0;
    }
    .row1 h2, .row2 h2, .row3 h2, .row4 h2{
        font-size: 22px;
    }
    .row1 img{
        left: -15px;
    }
    .row2 img {
        width: 300px;
        top: 55px;
    }
    .row3 img {
        width: 260px;
        left: -77px;
        top: 40px
    }
    .row4 img{
        width: 220px;
    }
    #desk15 .container .row:nth-child(3) .col-xs-12{
        padding-right: 0;
        padding-left: 0
    }
    #desk19 .row:nth-child(2) p.underfoto{
        font-size: 18px;
    }
    #notalone{
        padding: 22px 30px 22px 70px;
        font-size: 16px;
        width: 87%;
    }
    .desk18_text p {
        font-size: 15px;
        padding: 15px;
    }
    .feedback{
        top: 80px;
    }
    .modal-header p {
        font-size: 18px;
    }
    .thankswrapperBody .row:first-child .col-xs-12 {
        height: 40%;
    }
    .thankswrapperBody .col-xs-10, .thankswrapperBody .col-xs-12{
        padding-left: 0;
        padding-right: 0;
    }
    .thankswrapper h2, .thanksname{
        font-size: 26px;
        line-height: 1.2;
    }
    .thankswrapperBody .bluebut a{
        font-size: 17px;
        height: auto;
    }
    .thankswrapperBody .descript p{
        font-size: 16px;
    }
    .thankswrapperBody .help{
        font-size: 17px;
    }
    .thankswrapperBody h2, .thankswrapperBody .descript, .thankswrapperBody .bluebut, .thankswrapperBody .help{
        padding-top: 2vh;
    }
    #desk4 .cav2 img{
        left: 145px;
    }
    .thankswrapperBody .bluebut{
        margin-top: 2vh;
    }

}








@media screen and (max-width: 360px){    
    .hamb {
        padding: 25px 15px 10px 8px;
    }
    .hambmenu a{
        padding-left: 0;
        padding-top: 5px;
    }
    .logozag{
        padding-left: 20px;
    }
    .zagmenu{
        font-size: 24px;
    }
    #desk3top1 {
        top: -140px
    }
    .col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5{
        padding-left: 5px;
        padding-right: 5px;
    }
    #podhodtbl{
        width: 250px;
        background: url(../img/png/desk4/ramka-without-fon250-300.png) no-repeat top center;
        height: 300px;
    }
    #minipodh{
        padding-left: 0;
        padding-right: 0;
    }
    tr.podhod_points > td {
        padding-top: 3px;
        text-align: left;
        padding-left: 46px;
    }
    td.zagtable{
        padding-bottom: 20px;
    }
    .bluebut a {
        padding-top: 9px;
    }
    .barforus {
        font-size: 26px;
        line-height: 1.2
    }
    #desk5line{
        top: -130px;
        overflow: hidden;
    }
    #desk5 {
        top: -250px;
    }
    #desk8 .bluebut a{
        padding-top: 9px;
    }
    .everydetail {
        line-height: 16px;
    }
    #desk13 .capture .capItem{
        font-size: 15px;
    }
    #desk17 .col-xs-10{
        padding-left: 0;
        padding-right: 0;
    }    
    #desk17 .ramka h2 {
        font-size: 22px
    }
    #desk17 .row:first-child {
        top: -82px;
    }
    .modal-content{
        width: 94%;
    }
    #desk19 .col-xs-10{
        padding-left: 0;
        padding-right: 0;
    }
    #desk20 .col-xs-10{
        padding-left: 0;
        padding-right: 0;
    }
    button.bluebut{
        font-size: 16px;
    }

}






@media screen and (max-width: 320px){
    .container#desk1 #menu ul li a{
        font-size: 14px;
        color: #fff;
        padding: 9px 47px 7px;
    }
    .container#desk1 #menu ul li:last-child a{
        padding-bottom: 13px;
    }
    .ramka > h2{
        font-size: 20px;
    }
    .desk5_dostup h2 {
        font-size: 24px
    }
    #desk10line{
        top: 100px;
    }
    #desk15 table td{
        padding: 10px;
    }
    #desk15 table td, #desk15 table th{
        font-size: 14px;
    }
    .thankswrapperBody h2{
        padding-top: 1vh;
    }
    .thankswrapper h2, .thanksname{
        font-size: 23px;
        line-height: 1.2;
    }
    .thankswrapperBody .bluebut a{
        font-size: 16px;
        height: auto;
    }
    .thankswrapperBody .descript p{
        font-size: 15px;
    }
    .thankswrapperBody .help{
        font-size: 16px;
    }    

}