
/***********  SLIDER  *********/

.slideshow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: -webkit-calc(100vw - 15px);
    width: calc(100vw - 15px);
    height: -webkit-calc((100vw - 15px) / 2493 * 837);
    height: calc((100vw - 15px) / 2493 * 837);
    overflow: hidden;
}
.slideshow .slider {
    width: -webkit-calc(100vw - 15px);
    width: calc(100vw - 15px);
    height: -webkit-calc((100vw - 15px) / 2493 * 837);
    height: calc((100vw - 15px) / 2493 * 837);
    z-index: 2;
}
.slideshow .slider * {
    outline: none;
}
.slideshow .slider .item {
    width: -webkit-calc(100vw - 15px);
    width: calc(100vw - 15px);
    height: -webkit-calc((100vw - 15px) / 2493 * 837);
    height: calc((100vw - 15px) / 2493 * 837);
    position: relative;
    overflow: hidden;
    border: none;
}
.slideshow .slider .item .text {
    display: none;
}
.slideshow .slider .item img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.split-slideshow-dots {
    position: relative;
    height: -webkit-calc((100vw - 15px) / 2493 * 837);
    height: calc((100vw - 15px) / 2493 * 837);
}
.split-slideshow-dots .slick-dots {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
    right: -webkit-calc(50% - 25px);
    right: calc(50% - 25px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    display: block;
}
.split-slideshow-dots .slick-dots li {
    display: block;
    width: 100%;
    height: auto;
}
.split-slideshow-dots .slick-dots li button {
    position: relative;
    width: 20px;
    height: 15px;
    text-align: center;
}
.split-slideshow-dots .slick-dots li button:before {
    content: '';
    background: #fff;
    color: #fff;
    height: 2px;
    width: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}
.split-slideshow-dots .slick-dots li.slick-active button:before {
    width: 40px;
    opacity: 1;
    right: -10px;
}
.slideshow.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50%;
    pointer-events: none;
}
.slideshow.slideshow-right .slider {
    left: 0;
    position: absolute;
}
.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 80px;
    width: 100vw;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 0.8;
}
/*
@media (max-width: 767px) {
    .slideshow-text {
        font-size: 40px;
    }
}
.the-most img {
    max-width: 100%;
}

#desk-split {
    position: relative;
    top: -200px;
    height: 537px;
}


@media (min-width: 768px)
{
    .slideshow {
        width: 750px;
        height: 251.805054px;
    }
    .slideshow .slider {
        width: 750px;
        height: 251.805054px;
    }
    .slideshow .slider .item {
        width: 750px;
        height: 251.805054px;
    }
}
@media (min-width: 992px)
{
    .slideshow {
        width: 970px;
        height: 325.66787px;
    }
    .slideshow .slider {
        width: 970px;
        height: 325.66787px;
    }
    .slideshow .slider .item {
        width: 970px;
        height: 325.66787px;
    }
}
@media (min-width: 1200px)
{
    .slideshow {
        width: 1170px;
        height: 392.815884px;
    }
    .slideshow .slider {
        width: 1170px;
        height: 392.815884px;
    }
    .slideshow .slider .item {
        width: 1170px;
        height: 392.815884px;
    }
}
*/

/********** SLIDER END ************/